<html>
<head>
    <title>Vue Post Reader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h1>Hello Vue Router!</h1>
<div id="app">
    <router-view />
</div>
</div>
<template id="list-template">
    <div class="panel panel-default">
        <div class="panel-heading">AJAX call result <i v-show="loading">...Loading posts...</i></div>
        <div class="panel-body">
            <p>
                <input v-model="search" placeholder="Enter search terms" >
                Displaying {{ filteredPosts.length }} posts, filtered by <strong>{{ search }}</strong>
            </p>
        </div>
        <ul class="list-group">
            <li class="list-group-item" v-for="post in filteredPosts">
                <router-link :to="{ name: 'post', params: { id: post.id }}">
                    {{post.title}}
                </router-link>
            </li>
        </ul>
    </div>
</template>
<template id="post-template">
    <div>
        <router-link :to="{ name: 'homepage' }">Homepage</router-link>
        <h3>{{post.title}}</h3>
        <p><img v-bind:src="post.url" /></p>
    </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.5.3/vue-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
<script src="js/app.js"></script>
</body>
</html>